:root {
  --max-width: 700px;
}

/* -- GLOBALS -- */
h1 {
  font-family: monospace;
  color: rgb(190, 188, 188);
  font-size: 40px;
  text-align: center;
  word-spacing: -15px;
}

header {
  background-color: rgb(61, 60, 60);
  padding: 10px;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
}

a,
a:visited,
a:active {
  color: inherit;
}
/* -- GLOBALS - END -- */

/* -- DARK/LIGHT MODES -- */
.light_mode {
  background-color: white;
  color: black;
}
/* -- DARK/LIGHT MODES - END -- */

/* -- TEXTS -- */
.text_title {
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
  word-spacing: -5px;
  letter-spacing: -1px;
}

.text_generic {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
}

.text_video_discription {
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -1px;
  word-spacing: -3px;
  margin-top: 2px;
}

.text_underline {
  text-decoration: underline;
}

.text_bold {
  font-weight: bold;
}

.text_warning {
  font-size: 14px;
}

.text_first_letter_space::first-letter {
  padding-left: 25px;
}

.text_language {
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  margin-top: 2px;
}
/* -- TEXTS -END -- */

/* -- ALIGNMENTS -- */
.align_center {
  text-align: center;
  align-items: center;
  align-content: center;
}

.align_left {
  text-align: left;
  align-items: left;
  align-content: left;
}

.align_right {
  text-align: right;
  align-items: right;
  align-content: right;
}
/* -- ALIGNMENTS - END -- */

/* -- MARGINS -- */
#imbeded_video_margin_reduction {
  margin-bottom: -10px;
  padding-bottom: 0px;
}

.margin_bottom_zero {
  margin-bottom: 0px;
}

.margin_top_zero {
  margin-top: 0px;
}

.margin_left_zero {
  margin-left: 0px;
}

.margin_right_zero {
  margin-right: 0px;
}

.margin_zero {
  margin: 0px;
}

.margin_bottom_ten {
  margin-bottom: 10px;
}
/* -- MARGINS - END -- */

/* -- PADDINGS -- */
.padding_bottom_zero {
  padding-bottom: 0px;
}
/* -- PADDING - END -- */

/* -- FLEXBOX -- */

.flex_generic_container {
  display: flex;
  flex-direction: row;
}

.flex_generic_box {
  flex: 1;
  text-align: center;
}

/* -- FLEXBOX - END -- */

/* -- PAGE SIZE -- */
.max_page_width {
  max-width: 700px;
  margin: auto;
}
/* -- PAGE SIZE - END -- */

/* -- BUTTONS -- */
.button_generic {
  transition: 0.2s;
  background-color: gold;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem;
  margin-top: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.button_generic:hover {
  transition: 0.2s;
  gap: 1rem;
  background-color: rgb(202, 177, 35);
}
/* -- BUTTONS - END */

/* -- ANCHORS -- */
.anchor_decoration {
  text-decoration: none;
}
/* -- ANCHORS - END -- */

/* -- IMAGES -- */
.img_size_generic {
  width: 700px;
  height: auto;
  width: 100%;
}
/* -- IMAGES - END */

/* -- VIDEO/iframe */
.iframe_resize_generic {
  width: 100%;
}
/* -- VIDEO/iframe - END -- */
