<!-- Index/Main/Home page of the website -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>How To - Buhurt</h1>
    </header>
    <section class="max_page_width main_page_background">
      <!-- Website navigation -->
      <div class="flex_generic_container">
        <div class="flex_generic_box">
          <!-- Light Mode button: -->
          <button onclick="myFunction()" class="button_generic">
            Toggle White Mode
          </button>
          <!-- Page Navigation: -->
          <a href="/team_finder" class="anchor_decoration"
            ><button class="button_generic">Team Finder</button></a
          >

          <a href="/armor" class="anchor_decoration"
            ><button class="button_generic">Armor</button></a
          >

          <a href="/training" class="anchor_decoration"
            ><button class="button_generic">Training</button></a
          >

          <a href="/what_is_buhurt" class="anchor_decoration"
            ><button class="button_generic">What Is Buhurt</button></a
          >

          <a href="/" class="anchor_decoration"
            ><button class="button_generic">Language</button></a
          >
        </div>
      </div>
      {% block content %} {% endblock %}
    </section>
    <footer></footer>
    <script>
      function myFunction() {
        var element = document.body;
        element.classList.toggle("light_mode");
      }
    </script>
  </body>
</html>
